%header
  %h1 Messages

.tab-pane#inbox
  %h2 Inbox

  %table.messages
    %thead
      %tr
        %th.sender From
        %th.subject Subject
        %th.received Received

    %tbody
      - @messages.each do |message|
        %tr.message
          %td.sender= message.sender.name
          %td.subject= link_to(message.subject, message)
          %td.received= "#{time_ago_in_words(message.created_at)} ago"

.tab-pane#outbox
  %h2 Outbox

  %table.messages
    %thead
      %tr
        %th.recipient To
        %th.subject Subject
        %th.sent Sent

    %tbody
      - @sent_messages.each do |message|
        %tr.message
          %td.recipient= link_to(message.recipient.name, message.recipient)
          %td.subject= link_to(message.subject, message)
          %td.sent= "#{time_ago_in_words(message.created_at)} ago"
