%header
  %h1 Messages

.tab-pane#inbox
  %h2 Inbox

  %table.messages
    %thead
      %tr
        %th From
        %th Subject
        %th Received

    %tbody
      - @messages.each do |message|
        %tr.message
          %td= message.sender.name
          %td= link_to(message.subject, message)
          %td= "#{time_ago_in_words(message.created_at)} ago"

.tab-pane#outbox
  %h2 Outbox

  %table.messages
    %thead
      %tr
        %th To
        %th Subject
        %th Received

    %tbody
      - @sent_messages.each do |message|
        %tr.message
          %td= message.recipient.name
          %td= link_to(message.subject, message)
          %td= "#{time_ago_in_words(message.created_at)} ago"
