- content_for(:header) do
  %h1= "Message from #{@message.sender.name}"

%h3= @message.subject

!= to_markdown(@message.body)

- if @message.recipient == current_user
  %p= link_to('Reply', reply_path(@message), :class => 'reply')
