%header
  %h1 Users

%table.users
  %thead
    %tr
      %th.name Name
      %th.email E-mail
      %th.submissions Submissions
      %th.average-rating Average rating
      %th.created-at Member since

  %tbody
    - @users.each do |user|
      %tr.user
        %td.name= link_to(user.name, user)
        %td.email= mail_to(user.email)
        %td.submissions= user.submissions_count
        %td.average-rating= number_with_precision(user.average_rating, :precision => 2)
        %td.created-at= "#{time_ago_in_words(user.created_at)} ago"
