- content_for(:title) { @user.name }

- content_for(:header) do
  = user_image_tag(@user, :size => 120)

  .content
    %h1
      = @user.name
      - if logged_in? && @user != current_user
        = link_to('Send a message', send_message_path(@user))

    - if @user.website
      %p= link_to(@user.website, @user.website)

%article.bio
  != to_markdown(@user.bio)

= submissions_table(:without => [:writer])

- if @user == current_user
  = link_to('New submission', new_submission_path, :class => 'new-submission')
