- content_for(:header) do
  %h1 Log in

= form_tag(login_url, :class => 'login') do
  %fieldset
    .field
      = label_tag :name_or_email
      = text_field_tag :name_or_email, nil, :placeholder => 'e.g., "John Smith" or "johnsmith@example.com"'

    .field
      = label_tag :password
      = password_field_tag :password

    = submit_tag 'Log in'
