- content_for(:header) do
  %h1 Log in

= form_tag(login_url, :class => 'login') do
  .field
    = label_tag :email
    = text_field_tag :email

  .field
    = label_tag :password
    = password_field_tag :password

  .actions
    = submit_tag 'Log in'
