= form_for(@news_item) do |f|
  .field.kind= f.select :kind, NewsItem::KINDS
  .field= f.text_field :headline, :placeholder => 'Enter a headline'
  .field= markdown_editor(@news_item.content)
  = f.submit 'Post'
