.news-item
  %header
    %h1
      = item.headline
      - if item.user == current_user
        = link_to('Edit', edit_news_item_path(item))

  != to_markdown(item.content)

  %footer
    Posted by
    = link_to(item.user.name, item.user)
    = time_ago_in_words(item.created_at)
    ago
