= form_for(@submission) do |f|
  .field
    = f.select :kind, Submission::KINDS

  .field
    = f.text_field :title, :placeholder => 'Enter a title'

  .field
    = f.text_area :body, :class => 'editor', :placeholder => 'Write your content in Markdown format'

  = f.submit
