%table.submissions
  %thead
    %tr
      %th
      %th Title
      - unless without.include?(:writer)
        %th Writer
      %th Submitted
      %th Votes
      %th Rating
      %th Comments

  %tbody
    - @submissions.each do |submission|
      %tr
        %td= submission.kind
        %td
          = link_to(submission.title, submission)
          = "(#{submission.length})"
        - unless without.include?(:writer)
          %td= link_to(submission.user.name, submission.user)
        %td= "#{time_ago_in_words(submission.created_at)} ago"
        %td= submission.votes_count
        %td= number_with_precision(submission.rating, :precision => 2)
        %td 0
