%table.submissions
  %thead
    %tr
      %th.kind
      %th.title Title
      - unless without.include?(:writer)
        %th.writer Writer
      %th.submitted Submitted
      %th.votes Votes
      %th.rating Rating
      %th.comments Comments

  %tbody
    - @submissions.each do |submission|
      %tr
        %td.kind= submission.kind
        %td.title
          = link_to(submission.title, submission)
          = "(#{submission.word_count})"
        - unless without.include?(:writer)
          %td.writer= link_to(submission.user.name, submission.user)
        %td.submitted= "#{time_ago_in_words(submission.created_at)} ago"
        %td.votes= submission.votes_count
        %td.rating= number_with_precision(submission.rating, :precision => 2)
        %td.comments 0

%aside.kinds
  - Submission::KINDS.each do |description, code|
    %span= "#{code} - #{description}"
