- content_for(:title) { "#{@submission.title} by #{@submission.user.name}" }

- content_for(:header) do
  %h1
    = @submission.title
    - if @submission.user == current_user
      = link_to('Edit', edit_submission_path(@submission))
  .author= link_to(@submission.user.name, @submission.user)

%article.submission
  != preserve(to_markdown(@submission.body))

= voting_section

= comments_section unless @comments.empty?
