%ul
  %li.header RateYourWriting
  %li= link_to('Home', root_path)
  %li= link_to('About', about_path)

  %li.header Submissions
  %li= link_to('Most recent', submissions_path)
  %li= link_to('Highest rated', submissions_path(:sort => 'rating'))

  - if logged_in? && current_user.admin?
    %li.header Admin
    %li= link_to('Users', users_path)
    %li= link_to('Quotes', quotes_path)

  %li.header Account
  - if logged_in?
    %li= link_to('Preferences', preferences_path)
    %li= link_to('New submission', new_submission_path)
    %li= link_to('Log out', logout_path, { :'data-confirm' => 'Are you sure you want to log out? '})
  - else
    %li= link_to('Log in', login_path)
    %li= link_to('Register', register_path)
