%nav
  %ul
    %li.header RateYourWriting
    %li= link_to('Home', http_url('root'))
    %li= link_to('About', http_url('about'))

    %li.divider
    %li.header Submissions
    %li= link_to('Most recent', http_url('submissions'))
    %li= link_to('Highest rated', http_url('submissions', :sort => 'rating'))

    - if logged_in? && current_user.admin?
      %li.divider
      %li.header Admin
      %li= link_to('Users', http_url('users'))
      %li= link_to('Quotes', http_url('quotes'))

    %li.divider
    %li.header Account
    - if logged_in?
      %li= link_to('Submissions', http_url('user', current_user))
      %li= link_to('Settings', http_url('settings'))
      %li
        %a(href="#{http_url('messages')}")
          Messages
          - if @unread_message_count > 0
            %span.unread-count= @unread_message_count
      %li= link_to('Log out', http_url('logout'), { :'data-confirm' => 'Are you sure you want to log out? '})
    - else
      %li= link_to('Log in', https_url('login'))
      %li= link_to('Register', https_url('register'))
