!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = navigation_menu

    %main
      - if flash[:notice]
        = alert(flash[:notice])

      = yield

      = random_quote

      = query_diet_widget if Rails.env.development?
