!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %main
      - if content_for?(:header)
        %header
          = yield(:header)

      = navigation_menu

      - if flash[:notice]
        = alert(flash[:notice])

      #wrapper= yield

      = random_quote

      = query_diet_widget if Rails.env.development?
