!!!
%html
  %head
    %title RateYourWriting
    = stylesheet_link_tag @theme, :media => 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %nav
      = navigation_menu

    %main
      - if flash[:notice]
        = alert(flash[:notice])

      = yield

    %footer
      = random_quote
      = query_diet_widget if Rails.env.development?
